<!DOCTYPE html>
<html>
<header>
  <title> Battle: Attack</title>
</header>
  <body>
    <!-- <h1>You hit <%=@game.opponent_of(@game.player_turn).name%>!</h1> -->
    <div>
      It is <%= @game.player_turn.name %>'s turn
    </div>
    <div>
    	<%= @game.player_turn.name%> has <%= @game.player_turn.hp %> hit points
      <br>
      <%=@game.opponent_of(@game.player_turn).name%> has <%=@game.opponent_of(@game.player_turn).hp%> hit points
    </div>
    <form action="/play" method="get">
      <button type="submit">OK</button>
    </form>
  </body>
</html>
