<!DOCTYPE html>
<html>
  <header>
    <title>Battle: In Battle!</title>
  </header>
  <body>
    <h1><%= @game.player_1.name%> vs. <%= @game.player_2.name%></h1>
    <br />
    <br />
    <div>
      <%= @game.player_turn.name%> has <%= @game.player_turn.hp %> hit points
      <br>
      <%= @game.opponent_of(@game.player_turn).name%> has <%= @game.opponent_of(@game.player_turn).hp%> hit points
      <form action="/attack" method="get">
      <button type="submit">Attack <%= @game.player_2.name %></button>
      </form>
    </div>
  </body>
</html>
