<%= @game.player_1.name%> vs. <%= @game.player_2.name%>!
<p>
<%= @game.player_1.name%> HP:<%= @game.player_1.hp%>
</p>
<p>
<%= @game.player_2.name%> HP:<%= @game.player_2.hp%>
</p>
<%= @game.player_turn.name %>'s turn!
<form action="/attack">
<% if @game.player_turn == @game.player_1 %>
  <input type="submit" value="Attack!"/>
<% else %>
  <input type="submit" value="Continue"/>	
<% end %>
</form>
